#picture
{
    float:left;
    margin-left:16%;
    margin-right:2%;
    overflow:hidden;
}
#image
{
    width:200px;
/*
    margin-bottom: -60px;
    margin-top: -50px;
    margin-left: -20px;
    margin-right: -20px;
*/
/*
    margin-bottom: -4px;
    margin-left: -20px;
    margin-right: -20px;
    margin-top:-10px;
*/
}

sectitle
{
    font-family:'Helvetica'; 

}

#heading
{
}

#aboutme
{
    overflow:auto;
    margin-left:16%;
    margin-right:16%;
}

#publications 
{
    overflow:auto;
    margin-left:16%;
    margin-right:16%;
}
